div {
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 10px;
    padding: 10px;
    text-align: center;
}

h1 {
    text-align: center;
}

h2 {
    text-align: center;
}

form {
    text-align: center;
}

p {
    text-align: center;
}

ol {
    text-align: center;
}
