<div class="error-help">
    <p><strong>Resource Owner Password Grant Not Enabled</strong></p>
    <p>You need to enable the "Resource Owner Password Flow" for your Auth0 application:</p>
    <ol>
        <li>Log into your Auth0 dashboard</li>
        <li>Go to "Applications" > your application</li>
        <li>Go to "Settings" tab</li>
        <li>Scroll down to "Advanced Settings"</li>
        <li>Go to "Grant Types" tab</li>
        <li>Check "Password" option</li>
        <li>Click "Save Changes"</li>
    </ol>
</div>
